APP_NAME=Chromecast App
WINDOW_X=1450
WINDOW_Y=400
COLOR=system
ACCENT=#eda850
FILE_TYPE=.wav

Notes: 
- APP_NAME : The window title that will be used

- Window_X : The X-axis (width) of the window. 
        Default settings for best visuals is recommended

- Window_Y : The Y-axis (height) of the window. 
        Default settings for best visuals is recommended

- Color : Choice of background color for the app. 
    Can be set to :
        - 'light'   # White-mode
        - 'dark'    # Gray
        - 'system'  # Same as operating system

- Accent : Accent color for the app (buttons, entry, ...). 
    Can be set to any desired hex value

- File_Type : The file extension for music downloads.
    Recommended '.wav'
    Can be set to :
        - '.wav'
        - '.mp3'
        - '.aac'
        - '.m4a'
        - '.ogg'